@font-face {
                   font-family: BriosoProItalic;
                   font-display: swap;
                   src: url("../fonts/BriosoProItalic.woff2") format("woff2"), url("../fonts/BriosoProItalic.woff") format("woff");
                   font-weight: 400;
                   font-style: normal;
                }
@font-face {
                   font-family: FreeMono;
                   font-display: swap;
                   src: url("../fonts/FreeMono.woff2") format("woff2"), url("../fonts/FreeMono.woff") format("woff");
                   font-weight: 400;
                   font-style: normal;
                }
