@font-face {
                   font-family: FreeMono;
                   font-display: swap;
                   src: url("../fonts/FreeMono.woff2") format("woff2"), url("../fonts/FreeMono.woff") format("woff");
                   font-weight: 400;
                   font-style: normal;
                }
@font-face {
                   font-family: FreeMonoBold;
                   font-display: swap;
                   src: url("../fonts/FreeMonoBold.woff2") format("woff2"), url("../fonts/FreeMonoBold.woff") format("woff");
                   font-weight: 400;
                   font-style: normal;
                }
@font-face {
                   font-family: FreeMonoBoldOblique;
                   font-display: swap;
                   src: url("../fonts/FreeMonoBoldOblique.woff2") format("woff2"), url("../fonts/FreeMonoBoldOblique.woff") format("woff");
                   font-weight: 400;
                   font-style: normal;
                }
@font-face {
                   font-family: FreeMonoOblique;
                   font-display: swap;
                   src: url("../fonts/FreeMonoOblique.woff2") format("woff2"), url("../fonts/FreeMonoOblique.woff") format("woff");
                   font-weight: 400;
                   font-style: normal;
                }
